html {
   min-height: 100dvh;
}

body {
  font-family:"Roboto", "monospace",'Arial', sans-serif;
  min-height: inherit;
  /* padding: 0.3em 0.6em; */
}

#root {
  min-height: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4 {
  font-weight: 800;
}b

p , a{
  font-weight: 200;
}

